* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/board.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin: 3rem 7rem;
}

#cup {
  width: 50px;
  height: 50px;
}

h1 {
  font-size: 3rem;
}

.main-container {
  display: flex;
  justify-self: center;
  gap: 5rem;
}

.recent-scores {
  display: flex;
  flex-direction: column;
  margin: 2rem 5rem;
  gap: 2rem;
}

.recent-scores div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 25em;
}

.score-history {
  display: flex;
  /* width: 100%; */
  max-width: 25em;
  flex-direction: column;
  border-collapse: collapse;
  max-height: 20rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem;
  border: 3px solid hsl(176, 100%, 69%);
}

tr {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
  color: black;
}

tr:nth-child(odd) {
  background-color: #1dc826;
  color: black;
  margin: 0.3rem 0;
}

.add-score {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input {
  padding: 0.3rem 0.4rem;
  border-radius: 0.5rem;
  background: rgb(31, 19, 19);
  color: white;
}

.input:focus {
  border: 1px solid white;
}

::placeholder {
  color: rgb(255, 255, 255, 0.7);
}

.btn {
  padding: 2px 5px;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  background: rgb(11, 226, 11);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  border: none;
  transition: all 0.5s ease-out;
}

.btn:hover {
  background: black;
  color: rgb(11, 226, 11);
}

.refresh {
  animation: refreshBtn 6s ease-out infinite;
  border-radius: 1rem; 
}

@keyframes refreshBtn {
  40% {transform: translateY(0) rotateZ(0deg)}
  43% {
    transform: translateY(-30px) rotateZ(15deg);
    background: aqua;}
  46% {
    transform: translateY(-30px) rotateZ(-15deg);
    background: aqua;
  }
  49% {
    transform: translateY(-30px) rotateZ(15deg);
    background: aqua;
  }
  52% {
    transform: translateY(-30px) rotateZ(-15deg);
    background: aqua;
  }
  56% {
    transform: translateY(0) rotateZ(0deg);
    background: aqua;
  }
}

@media screen and (min-width: 992px) {
  .main-container {
    margin: 2rem 7rem;
    gap: 5rem;
  }

  header {
    margin: 3rem 10rem;
  }

  h1 {
     font-size: 4rem;
  }
}

@media screen and (max-width: 475px) {
  .score-history {
    width: 80%;
    margin: 0;
  }

  .main-container {
    gap: 0;
    flex-direction: column;
    align-items: center;
  }

  .recent-scores {
    align-items: center;
  }

  .input {
    width: 150px;
  }

  header {
    margin: 1rem 2rem;
  }

  h1 {
     font-size: 2.5rem;
  }
}
